node_modules
dist
out
.DS_Store
.eslintcache
*.log*
*.tsbuildinfo

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OSX
.DS_Store

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
